*{
    margin: 0; padding: 0;
}
header{
    background-color: black;
    color: white;
    height: 110px;
    position: relative;
    width: 1341px;
    margin: 0 auto;
}
body{
    background-color: rgb(32, 31, 31);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    display: inline-flex;
}
.titulo{
    position: absolute;
    font-size: 25px;
    left: 5%;
    top: 32%;
    width: 200px;
    gap: 6px;
    display: flex;
}
.titulo p{
    color: blue;
}
.titulo a{
    text-decoration: none;
}
.logo a{
    color: white;
}
.logo img{
    margin-top: 13px;
    width: 90px;
    height: 80px;
}
nav{
    align-content: center;
    height: 55px;
    width: 700px;
    float: right;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
nav a:hover{
    color: blue;
}
main{
    width: 1341px;
    margin: 0 auto;
}
.yo{
    height: 690px;
    background: url(img/fondo2.jpg);
    background-size: cover;
}
.yo h2{
    margin-left: 2%;
    color: white;
    font-size: 56px;
}
.yo h3{
    margin-left: 2%;
    color: rgb(0, 17, 255);
    font-size: 39px;
}
.option{
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
}
.option a{
    transform: skew(-10deg);
    color: black;
    text-decoration: none;
    background-color: blue;
    padding: 20px;
    margin: 20px;
    font-size: 27px;
}
.option a:hover{
   background-color: darkcyan;
}
.art1{
    display: flex;
    height: 490px;
    gap: 20px;
}
.art1 article{
    border-radius: 20px;
    padding: 23px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    height: 310px;
    width: 350px;
}
.art1 article h3{
    margin-top: 20px;
    font-size: 34px;
}
.art1 article p{
    font-size: 21px;
}
.art1 svg{
    color:aqua;
    height: 70px;
    width: 60px;
}
.art2{
    display: flex;
    gap: 10%;
    height: 900px;
}
.art2 article h3{
    margin-top: 20px;
    font-size: 32px;
    color: rgb(34, 34, 250);
}
.art2 article h2{
    margin-top: 10px;
    color: white;
    font-size: 46px;
}
.art2 article p{
    color: white;
    font-size: 21px;
    padding: 5px;
}
.yo2 article{
    height: 670px;
    width: 560px;
    background-color: blue;
}
.yo2 article img{
    margin-top: 32px;
    margin-left: 30px;
    height: 600px;
    width: 570px;
}
.planes{
    background: url(img/fondo.sobremi.jpg);
    height: 650px;
    background-size:cover;
    align-content: center;
}
.planes2 svg{
    margin-top: 5px;
    width: 40px;
    height: 23px;
    color: blue;
}
.planes h2{
    font-size: 56px;
    text-align: center;
    color: white;
}
.planes2{
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    color: white;
}
.planes2 h2{
    font-size: 40px;
}
.planes2 p{
    font-size: 23px;
}
.q{
    color: blue;
}
.l{
    color: blue;
    font-size: 24.6px;
}
.blue{
    margin-bottom: 20px;
    color: blue;
    margin-top: 30px;
}
.tipoplanes{
    display: flex;
    margin-top: 20px;
    height: 1000px;
}
.tipoplanes article{
    background-color:black;
    margin: 0 auto;
    height: 760px;
    width: 395px;
    border: 2px solid blue;
    padding: 10px;
}
.tipoplanes h2{
    margin-top: 60px;
}
.number{
    font-size: 50px;
    color: blue;
}
.u{
    font-size: 30px;
}
.number1{
    font-size: 30px;
    color: blue;
}
.comprar{
    display: flex;
}
.comprar a{
    transform: skew(-10deg);
    color: black;
    text-decoration: none;
    background-color: blue;
    padding: 15px;
    margin: 20px;
    font-size: 25px;
    margin: 0 auto;
}
.comprar a:hover{
    background-color: darkcyan;
}
.mihistoria{
    height: 650px;
    background: url(img/aesthetic.jpg);
    background-size: cover;
    align-content: center;
}
.mihistoria h2{
    font-size: 56px;
    text-align: center;
    color: white;
}
.historia{
    align-content: center;
    display: flex;
    margin-top: 10%;
    height: 940px;
}
.historia article{
    margin: 0 auto;
    height: 650px;
    width: 590px;
}
.historia article p{
    margin-top: 5%;
    font-size: 23px;
    color: white;
}
.historia2 article p{
    margin-top: 13%;
    font-size: 23px;
    color: white;
}
.pblue{
    font-size: 25px;
    color: blue;
}
.historia2{
    display: flex;
    height: 1000px;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
}
.yo4 article{
    margin-right: 40px;
    width: 470px;
    border: 1px solid gray;
}
.historia2 article{
    margin-left: 50px;
    height: 865px;
}
video{
    margin-left: 34.5px;
    height: 726px;
    width: 400px;
}
.yo4 article h2{
    font-size: 40px;
    margin-left: 28px;
    color: white;
    margin-top: 12px;
}
.yo4 article h3{
    margin-top: 20px;
    margin-left: 28px;
    font-size:23px;
    color: blue;
}
.yo3{
    border: 1px solid gray;
    margin-left: 35px;
    height: 800px;
}
.yo3 article{
    width: 490px;
    height: 600px;
}
.yo3 article h2{
    font-size: 40px;
    margin-left: 22px;
    color: white;
    margin-top: 20px;
}
.yo3 article img{
    height: 640px;
    width: 435px;
    margin-left: 26px;
    margin-top: 20px;
}
.yo3 article h3{
    margin-top: 20px;
    margin-left: 22px;
    font-size:23px;
    color: blue;
}
.gym{
    color: blue;
    font-size: 25px;
}
.login{
    background: url(img/elGOAT.jpg);
    background-size: cover;
    text-align: center;
    align-content: center;
    height: 650px;
}
.login h2{
    font-size: 56px;
    color: white;
}
.inicio{
    margin-top: 8%;
    margin-bottom: 30px;
    text-align: center;
    color: blue;
    font-size: 25px;
}
.form{
    display: flex;
    height: 80px;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}
.nombre input{
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    margin-left: 10px;
    height: 50px;
    font-size: 17px;
    width: 450px;
}
.nombre input:hover{
    background-color: blue;
}
.apellido input{
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    margin-right: 10px;
    height: 50px;
    font-size: 17px;
    width: 450px;
}
.apellido input:hover{
    background-color: blue;
}
.form2{
    display: flex;
    height: 80px;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}
.email input{
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    margin-left: 10px;
    height: 50px;
    width: 450px;
    font-size: 17px;
}
.email input:hover{
    background-color: blue;
}
.numtel input{
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    margin-right: 10px;
    font-size: 17px;
    height: 50px;
    width: 450px;
}
.numtel input:hover{
    background-color: blue;
}
.msj{
    width: 1000px;
    margin: 0 auto;
}
.form3{
    text-align: center;
}
.form3 input{
    width: 40px;
    height: 16px;
}
.form3 span{
    color: blue;
    font-size: 22px;
}
.msj input{
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    color: white;
    font-size: 17px;
    width: 700px;
    height: 100px;
    margin-left: 16%;
}
.msj input:hover{
    background-color: blue;
}
.Enviar{
    margin-top: 20px;
    height: 300px;
}
.Enviar input {
    margin-left: 41.5%;
    height: 70px;
    width: 160px;
    font-size: 20px;
    border: solid blue;
    color: black;
    background-color: blue;
    transform: skew(-10deg);
}
.Enviar input:hover{
    border: solid darkcyan;
    background-color: darkcyan;
}
.login2{
    background: url(img/samSulek.png);
    background-size: cover;
    text-align: center;
    align-content: center;
    height: 650px;
}
.login2 h2{
    font-size: 56px;
    color: white;
}
.us{
    margin-top: 50px;
    font-size: 25px;
    color: blue;
    height: 100px;
    text-align: center;
}
.usuario{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}
.user input{
    height: 50px;
    font-size: 17px;
    width: 500px;
    margin-left: 19%;
    border: solid rgb(70, 67, 67);
    background-color: rgb(70, 69, 69);
    color: white;
}
.user input:hover{
    background-color: blue;
    border: solid blue;
}
.contra input{
    height: 50px;
    font-size: 17px;
    width: 500px;
    margin-left: 19%;
    border: solid  rgb(70, 69, 69);
    color: white;
    background-color: rgb(70, 69, 69);
}
.contra input:hover{
    background-color: blue;
    border: solid blue;
}
.correo input{
    height: 50px;
    font-size: 17px;
    width: 500px;
    margin-left: 19%;
    border: solid  rgb(70, 69, 69);
    background-color: rgb(70, 69, 69);
    color: white;
}
.correo input:hover{
    background-color: blue;
    border: solid blue;
}
.Enviar2{
    margin-top: 20px;
    height: 300px;
}
.Enviar2 input {
    margin-left: 40.5%;
    color: white;
    height: 70px;
    width: 160px;
    font-size: 20px;
    border: solid blue;
    color: black;
    background-color: blue;
    transform: skew(-10deg);
}
.Enviar2 input:hover{
    border: solid darkcyan;
    background-color: darkcyan;
}
footer{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    height: 440px;
    text-align: center;
    font-size: 23px;
    color: white;
    background-color: black;
}
footer svg{
    flex-direction: column;
    display: flex;
    margin-left: 60%;
    margin-top: 50px;
    width: 45px; 
    height: 40px;
}
.siguenos h3{
    position: absolute;
    left: 57%;
    top: 31px;
}
footer a{
    text-decoration: none;
    color: blue;
}
footer p{
    position: absolute;
    top: 86.5%;
    left: 29%;
}
footer a:hover{
    color: darkcyan;
}
footer svg:hover{
    color: darkcyan;
}
footer h3{
    position: absolute;
    top: 6%;
    margin-left: 40px;
}
iframe{
    position: absolute;
    bottom: 25%;
    right: 62.2%;
    width: 446px;
    height: 290px;
}
.ranking{
    background: url(img/fondologin.jpg);
    background-size: cover;
    margin: 0 auto;
    height: 650px;
    text-align: center;
    align-content: center;
}
.ranking h2{
    font-size: 56px;
    color: white;
}
.rank h2{
    text-align: center;
    margin-top: 41px;
    font-size: 50px;
    color: white;
    height: 160px;
}
.rank{
    height: 910px;
}
.color2{
    color: blue;
}
.rank table{
    text-align: center;
    border: 1px solid darkblue;
    margin: 0 auto;
    font-size: 19px;
    width: 1100px;
    height: 660px;
    color:white;
    background-color: black;
}
.rank th{
    height: 50px;
    width: 50px;
    font-size: 24px;
}
.rank2{
    color: blue;
}
.color{
    color: blue;
}